# =========================
# Maven
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar
# Logs
*.log
# Compiled class files
*.class
# Packaged files
*.jar
*.war
*.ear
# =========================
# Java
# =========================
*.ctxt
*.java~
# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
*~
# Linux
.fuse_hidden*
.Trash-*
.nfs*
# =========================
# VS Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
.history/
*.vsix
# =========================
# IDE (por si alguien usa otro)
# =========================
.idea/
*.iml
*.ipr
*.iws
# Eclipse
.project
.classpath
.settings/
# =========================
# Spring Boot
# =========================
application-local.yml
application-dev.yml
application-test.yml
application-local.properties
# =========================
# Env files
# =========================
.env
.env.*
